.CourseOverviewContainer{
    background-color: black;
    color: white;
}
.CourseOverview{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
.CourseOverview img{
    width: 100%;
}
.block{
    display: inline-block;
}
.CourseOverview__rating{
display: flex;
align-items: center;
}
@media screen and (min-width: 1090px) {
    .CourseOverviewContainer{
        height: 200px;
        padding:100px 50px;
    }
    .CourseOverview img{
        display: none;
    }
    .CourseOverview{
        margin: 0;
    }
}
    

