.CourseOverviewContainer{
    height: 200px;
    background-color: black;
    color: white;
    padding:100px 50px;
}
.CourseOverview{
    
    width: 60%;
    
}
.block{
    display: inline-block;
}
.CourseOverview__rating{
display: flex;
align-items: center;
}